/0-node-express-course-main
/1-node-tutorial-ivan/node_modules
/2-express-tutorial-ivan/node_modules

/NodeJS_Course/1-node-farm/final
/NodeJS_Course/1-node-farm/starter/node_modules

/NodeJS_Course/2-how-node-works/final

/NodeJS_Course/3-asynchronous-js/final
/NodeJS_Course/3-asynchronous-js/starter/node_modules

/NodeJS_Course/4-natours/after-section-06
/NodeJS_Course/4-natours/after-section-08
/NodeJS_Course/4-natours/after-section-09
/NodeJS_Course/4-natours/after-section-10
/NodeJS_Course/4-natours/after-section-11
/NodeJS_Course/4-natours/after-section-12
/NodeJS_Course/4-natours/after-section-13
/NodeJS_Course/4-natours/after-section-14
/NodeJS_Course/4-natours/starter/node_modules

/node_modules
/NodeJS_Course/4-natours/starter/vars